.btn {
    width: max-content;
    height: max-content;
    padding: 5px;
    display: block;
    border: none;
    border-radius: 3px;
    margin: 0 5px;
    outline: none;
    cursor: pointer;
    transition: .3s ease-in;
}
.btn-signup, .btn-login {
    background: transparent;
    padding: 7px 10px;
    color: $brown;
    font-weight: bold;
    border: 1px solid $yellow;
    &:hover {
        background: $yellow;
        color: $white;
        border: 1px solid $yellow;

    }
}
.plus-minus {
    background: transparent;
    color: $white;
    font-weight: bold;
    font-size: 1.7rem;
    padding: 0 7px;
    display: block;
    &:hover {
        color: $yellow;
    }
}
.btn-hire {
    background: $greenlight;
    color: $white;
    padding: 8px;
    border-radius: 25px;
    border: 1px solid rgb(57, 121, 57);
    box-shadow: inset 0 1px 0 rgb(163, 230, 163);
    &:hover {
        background: #1E9E64;
    }
}
.btn-comments {
    width: max-content;
    border: none;
    background: none;
    padding: 5px 15px;
    color: $brown;
    font-size: .9rem;
    text-decoration: underline;
    cursor: pointer;
    transition: .3s ease-in-out;
    &:hover {
        color: $pink;
    }
}
.btn-comments i {
    font-size: 1.2rem;
    padding: 0 8px;
}
.btn-pink {
    color: $white;
    font-size: 1.3rem;
    padding: 7px 15px;
    border: 2px solid $pink;
    transition: .3s ease-in-out;
    &:hover {
        background: $white;
        color: $pink;
        border: 2px solid $pink;
    }
}
.btn-pink i {
    margin: 0 10px;
}