.comments {
    width: 100%;
    height: auto;
    background: $graydark;
    padding: 20px 0;
}
.comment {
    display: flex;
    padding: 10px 60px;
    margin: 5px 0;
}
.box-user, .box-user img{
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}
.box-info-user {
    width: 100%;
    color: $white;
}
.name-user {
    display: flex;
    align-items: center;
}
.name-user h4 {
    color: $brown;
    padding: 0 8px;
}
.name-user a {
    text-decoration: none;
}
.box-btn-comments {
    width: 100%;
    display: flex;
    justify-content: center;
}
.description-comment{
    padding: 5px 10px;
}
.circle-pink {
    width: 6px;
    height: 6px;
    margin: 0 5px;
    background: $pink;
    border-radius: 12px;
}