header {
    width: 100%;
    height: 500px;
    background-image: url('../../assets/images/img_header.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
}
.box-event {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $graylight;
    padding: 15px 10px;
    border-bottom: 3px solid $pink;
    box-shadow: 0 1px 10px rgba(0,0,0,.5);
}
.content-event {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,.5);
    padding: 20px 30px;
    justify-content: center;
}
.numbers-stars {
    font-size: 1.5rem;
    color: $white;
    list-style: none;
    display: flex;
    padding: 5px 0;
}
.numbers-stars li {
    list-style: none;
    margin: 0 5px 0 0;
}
.description-event {
    color: $white;
    font-size: 1.5rem;
    padding: 5px 10px;
}
h1 {
    font-size: 2.5rem;
    color: $white;
}
.form-menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-group {
    display: flex;
}
.form-input {
    display: flex;
    flex-direction: column;
    margin: 5px;
}
.hours {
    width: max-content;
    height: auto;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    background: #ffffff;
    border-radius: 3px;
    color: #242424;
}
.form-menu label {
    color: $white;
    padding: 0 5px;
}
.form-menu input[type="text"], .form-menu select {
    color: #000000;
    font-size: 1rem;
    text-align: center;
    border-radius: 3px;
    border: none;
    padding: 5px;
    font-family: $font;
}

@media(max-width: 960px) {
    .box-event {
        flex-direction: column;
    }
    .box-btn-hire {
        width: 100%;
        display: flex;
        justify-content: center;
        padding-top: 10px;
    }
    header {
        height: 520px;
    }
}

@media(max-width: 768px) {
    .form-group {
        display: flex;
        flex-direction: column;
    }
    header {
        height: 550px;
    }
}